body{
  font-family: Arial;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
a{
  color: blue;
}

table tr td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

table{
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  margin: 20px 0;
}

table td.clickable:hover{
  background-color: yellow;
}

#error{
  color:red;
}

#notice{
  color:green;
}
